<!DOCTYPE html>
<html lang="pt-BR" th:include="templates/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main th:fragment="conteudo">
        <h1>Apartments</h1>
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Número da Porta</th>
                <th>Quantidade de Quartos</th>
                <th>Tipo</th>
            </thead>
            <tbody>
                <tr th:each="apartment : ${apartments}">
                    <td th:text="${apartment.apartment_id}"></td>
                    <td th:text="${apartment.door_number}"></td>
                    <td th:text="${apartment.room_count}"></td>
                    <td th:text="${apartment.type}"></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>